body
{
    color:black;
    background-image: linear-gradient(#ffafbd 0%, #ffc3a0 100%);
}

.heading{
    width:80%;
    font-size: 18px;
}

#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}



.name_of_objects , #result_of_objecct , #accuracy_object
{
    color:black;

}